//--------------------------------------------------------------------
//  Greys
//--------------------------------------------------------------------

primary = #332121
secondary = #504b45
tertiary = #827E7A

//--------------------------------------------------------------------
//  Colours
//--------------------------------------------------------------------

red = #E60000
