body
  font-family: "Lucida Grande", Calibri, Arial, sans-serif
  font-size: .7em
  line-height: 1.5em
  background: #e0e0e0

h1, h2, h3, h4
  font-family: Georgia, "Times New Roman", serif
  font-weight: normal
  user-select: none
  cursor: default
  
ul, li
  list-style: none
  margin: 0
  padding: 0
  
.primary
  color: primary

.secondary, a, body
  color: secondary
  
.tertiary
  color: tertiary
  
a
  text-decoration: none
  &:hover
    text-decoration: underline
  
hr
  border: 0
  border-top: 1px solid #d2d2d2
  border-bottom: 1px solid #fdfdfd
  padding: 0
  height: 0
  margin: .5em 0
